@import url("https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap");
@import "tailwindcss";

@theme {
  --color-appback: var(--tg-theme-bg-color);
  --color-accenttext: var(--tg-theme-accent-text-color);
  --color-appsecondary: var(--tg-theme-secondary-bg-color);
  --color-apphint: var(--tg-theme-hint-color);
  --color-appgray: #dadada;

  --tracking-tightext: -0.025em;

  --breakpoint-smtg: 25rem;
}

html {
  touch-action: none;
  height: 100lvh;
  overflow: hidden;
}

body {
  @apply bg-appback;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  background: var(--tg-theme-bg-color);
  height: 100lvh;
  overflow: hidden;
}

.page {
  @apply h-screen flex flex-col justify-center items-center overflow-y-hidden w-full;
}

.container {
  @apply max-w-7xl mx-auto my-0 py-0 px-10;
}

.tgui-8e15431b81f6601e .tgui-db9be63c4fecf79b {
  background: transparent;
}

.greeting-text {
  font-size: 42px;
  line-height: 52px;
}

@media (max-width: 400px) {
  .greeting-text {
    font-size: 36px;
    line-height: 46px;
  }
}

.tgui-b8dfba0b5c3d054c {
  padding: 0px;
}

.tgui-97f2df57786b02dc:before {
  background-color: #f4f4f7;
}

.tg-icon path {
  fill: var(--color-accenttext);
}

.tg-icon ellipse {
  fill: var(--color-accenttext);
}

.btn-small span {
  font-size: 11px;
}

.cell-reset {
  @apply px-[16px] rounded-xl;
}

.cell-reset .tgui-8735a62be5a8b8a7 {
  padding: 0 !important;
}

.cell-reset .tgui-8735a62be5a8b8a7 h6 span {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
